__pycache__/
*.pyc
*.pyo

data/live_in/*
!data/live_in/.gitkeep
data/live_done/*
!data/live_done/.gitkeep
data/live_error/*
!data/live_error/.gitkeep
data/train/*
!data/train/.gitkeep

logs/live/*
!logs/live/.gitkeep
logs/offline/*
!logs/offline/.gitkeep

output/*
!output/.gitkeep

.docker/
suricata/lib/cache/
suricata/lib/update/cache/
suricata/lib/rules/*
!suricata/lib/rules/.gitkeep

model/*.pkl
model/meta*.json
model/*.bak
model/*.tmp
